.recommendations {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.div {
    border: solid #be8de0 3px;
    border-radius: 4px;
    padding: 10px;
    margin: 75px auto;
}